body {
    background-color: rgb(176, 213, 255);
  }
  
  h1 {
    color: white;
   
  }
  .center {
    text-align: center;
 }

 .fonte-verde {
    color: green;
 }
  #para {
        
    font-family: verdana;
    font-size: 20px;
  }