body {
    /*background-color: rgb(206, 183, 254);*/
    background-image: url("https://www.awn.com/sites/default/files/styles/original/public/image/featured/1040162-giveaway-win-free-tickets-see-hayao-miyazakis-spirited-away.gif?itok=jQyJSei8");
  }
  
  h1 {
    color: white;
    background-color:rgb(255, 255, 255,);
    border: 2px solid rgb(255, 255, 255);
    border-style: dashed;
    border-style: dotted;
  border-width: thick;
  margin-left: 50px;
  margin-right: 50px;
 
   
  }
  
  /* CLASS */
  .center {
    text-align: center;
 }

 .fonte-branca {
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-color:rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;

 }
 /* ID */
  #para {
    
    font-family: Comic Sans MS, Comic Sans, 'cursive';
    font-size: 20px;
  }
  p { 
    color: white;
    font-family: Comic Sans MS, Comic Sans, 'cursive';
    font-size: 20px;
  }